body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgba(0, 0, 0, 0.5) !important;
    /* Nền trong suốt */
}

.main {
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
}
.main>a {
    right: 10px;
    top: 10px;
    position: absolute;
    color: black;
}

.container{
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 570px;
    width: 450px !important;
    background-color: white;
    border-radius: 10px;
    text-align: center;
}
.container h3{
    font-size: 20px;
    display: flex;
    justify-content: flex-start;
}

.avt{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;

}
.basic-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.basic-info h3{
    font-size: 20px;
}
.basic-info p{
    font-size: 15px;
    color: gray;
}
.description{
    display: block;
    padding: 10px 20px;

}
.gioiTinh{
    display: block;
    padding: 10px 20px;

}
.so-dien-thoai{
    display: block;
    padding: 10px 20px;
}
.ngay-sinh{
    display: block;
    padding: 10px 20px;
}

.ngay-sinh p{
    font-size: 10px;
    display: flex;
    align-items: flex-start;
    color: gray;
    font-style: italic;
    margin: 0;
    padding: 0;
}