
#nav{list-style:none;margin: 0px;padding: 0px;}
#nav li {
	float: left;
	margin-right: 20px;
	font-size: 14px;
	font-weight:bold;
}
#nav li a{color:#333333;text-decoration:none}
#nav li a:hover{color:#006699;text-decoration:none}
#notification_li
{
	position:relative
}
#notificationContainer 
{
	background-color: #fff;
	border: 1px solid rgba(100, 100, 100, .4);
	overflow: visible;
	position: absolute;
	top: 30px;
	margin-left: -170px;
	width: 400px;
	z-index: -1;
	display: none;
}
/* Popup Arrow*/
#notificationContainer:before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	color: transparent;
	border: 10px solid black;
	border-color: transparent transparent white;
	margin-top: -20px;
	margin-left: 188px;
}
#notificationTitle
{
	font-weight: bold;
	padding: 8px;
	font-size: 13px;
	background-color: #ffffff;
	position: fixed;
	z-index: 1000;
	width: 384px;
	border-bottom: 1px solid #dddddd;
}
#notificationsBody
{
	padding: 33px 0px 0px 0px !important;
	min-height:300px;
}
#notificationsBody > p {
	padding: 20px 20px 0 20px;
	margin: 0px;
}
#notificationsBody > p:hover {
	opacity: 80%;
	cursor: pointer;
}
#notificationFooter
{
	background-color: #e9eaed;
	text-align: center;
	font-weight: bold;
	padding: 8px;
	font-size: 12px;
	border-top: 1px solid #dddddd;
}
#notification_count
{
	padding: 3px 7px 3px 7px;
	background: #cc0000;
	color: #ffffff;
	font-weight: bold;
	margin-left: 22px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	position: absolute;
	margin-top: -40px;
	font-size: 11px;
}