<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" />
    <link rel="icon" type="image/x-icon" href="{% static 'assets/images/insta-favicon.ico' %}" />
    <script type="module" src="{% static 'js/LoginPage.js' %}" defer></script>
    <title>Instagram Login</title>
  </head>
  <body>
    <main class="flex align-items-center justify-content-center">
      <section id="mobile" class="flex"></section>
      <section id="auth" class="flex direction-column">
        <div class="panel login flex direction-column">
          <h1 title="Instagram" class="flex justify-content-center">
            <img
              src="{% static 'image/instagram-logo.png' %}"
              alt="Instagram logo"
              title="Instagram logo"
            />
          </h1>
          <form>
            <label for="email" class="sr-only">Login with e-mail</label>
            <input name="identifier" placeholder="Phone number, username or email" />

            <label for="password" class="sr-only">Login</label>
            <input name="password" type="password" placeholder="Password" />

            <button id="login-btn" type="button" disabled>Login</button>
          </form>
        </div>
        <div class="panel register flex justify-content-center">
          <p>Don't have an account?</p>  
          <a href="{% url "signup" %}">Sign up</a>
        </div>
      </section>
    </main>
    <footer>
      <p class="copyright">© 2020 by Four IT guys</p>
    </footer>
  </body>
</html>
<script>
  var socket = new WebSocket('ws://' + window.location.host + '/ws/online-status/');

  socket.onopen = function(event) {
      console.log('WebSocket connection established.');
      // Gửi ID của người dùng cho máy chủ khi kết nối được thiết lập
      socket.send(JSON.stringify({'user_id': USER_ID}));
  };

  socket.onmessage = function(event) {
      var data = JSON.parse(event.data);
      console.log('Received online status:', data);
      
  };
</script>