<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <!-- <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/style.css' %}"
    /> -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'messenger/css/style.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'messenger/css/normalize.css' %}"
    />

    <title>Messenger</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{% static 'image/logomess.png' %}"
    />
  </head>

  <body>
    <div class="wrapper-mobile">
      <div class="mobile">
        <img src="" />Not available on Tablet or Mobile devices.
      </div>
    </div>

    <div class="wrapper">
      <header style="background-color: #ffffff">
        <div class="container">
          <div class="left">
            <img src="{% static 'messenger/img/logo.svg' %}" />
          </div>

          <div class="middle">
            <h3 id="receiverName"></h3>
          </div>

          <div class="right">
            <div class="username">
              <img
                class="img-video"
                src="{% static 'messenger/img/video-camera.png' %}"
                style="
                  width: 30px;
                  height: 30px;
                  margin-top: 20px;
                  margin-right: 20px;
                "
              />
              <style>
                .img-video:hover {
                  background-color: aqua; /* Đổi màu nền khi hover */
                }
              </style>
              <div class="settings">
                <img src="{% static 'messenger/img/settings.svg' %}" />
                <!-- <img
                  src="{% static 'messenger/img/video-camera.png' %}"
                  style="width: 10px; height: 10px"
                /> -->
              </div>

              {{current_user.user}}
            </div>

            <div class="avatar">
              <!-- <img src="{% static 'messenger/img/avatar.png' %}" /> -->
              <img src="media/{{ current_user.avatar }}" alt="" />
            </div>
          </div>
        </div>
      </header>

      <main style="height: 90%">
        <div class="col-left">
          <div class="col-contents col-item">
            <div class="messages">
              {% for ll in lienlac %}
              <li data-id="{{ ll.id }}">
                <div class="avatar">
                  <div class="avatar-image">
                    <div class="status online"></div>
                    <img src="media/{{ ll.dich.avatar }}" />
                  </div>
                </div>
                <h3>{{ ll.dich.user }}</h3>
                <p>{{ ll.lastmess }}</p>
              </li>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="col" style="width: 900px;">
          <div class="col-content col-mess">
            <section class="message">
              <div class="grid-message"></div>
            </section>
          </div>
          <div class="col-foot">
            <div class="compose">
              <input id="input" placeholder="Type a message" />
              <div class="compose-dock">
                <input type="boxID" hidden />
                <button id="send">Gửi</button>
                <div class="dock"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-right" >
          <!-- <div id="userName">
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
              "
            >
              <input
                placeholder="What should we call you?"
                style="text-align: center; height: 50px; font-size: xx-large"
                type="text"
                name=""
                id="userNameInput"
              />
              <div style="height: 5px"></div>
              <button onclick="login()" class="actionButton">Login</button>
            </div>
          </div> -->
  
          <!-- to display current login user information  -->
          <div id="userInfo">
            <div
              style="
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 300px;
              "
            >
              <h1>Hello, <span id="nameHere"></span></h1>
            </div>
          </div>

          <!-- <div id="call">
            <div class="dialWrapper">
              <input
                placeholder="Whom to call?"
                style="text-align: center; height: 50px; font-size: xx-large"
                type="text"
                name="callName"
                id="callName"
              />
              <div class="dialNumpadHWrapper">
                <div class="dialNumber"></div>
                <div class="dialNumber">
                  <button class="dialActionButton" onclick="call()">Call</button>
                </div>
                <div class="dialNumber"></div>
              </div>
            </div>
          </div> -->
  
          <!-- to show incommming call and accept -->
          <div id="answer">
            <div class="incomingWrapper">
              <div class="itemWrapper">
                <h2>Incomming Call</h2>
              </div>
              <div class="itemWrapper">
                <img
                  id="profileImageA"
                  style="padding: 30px; width: 140px; height: 140px"
                  src="/static/call/profile.png"
                  alt=""
                />
              </div>
              <div class="itemWrapper">
                <h2 style="line-height: 0px"><span id="callerName"></span></h2>
              </div>
              <div
                class="itemWrapper"
                style="display: flex; flex-direction: row; margin-bottom: 20px"
              >
                <button class="actionButton" onclick="answer()">Answer</button>
              </div>
            </div>
          </div>
  
          <!-- to show outgoing call -->
          <div id="calling">
            <div class="incomingWrapper">
              <div class="itemWrapper">
                <h2>Calling</h2>
              </div>
              <div class="itemWrapper">
                <img
                  id="profileImageCA"
                  style="padding: 30px; width: 140px; height: 140px"
                  src="/static/call/profile.png"
                  alt=""
                />
              </div>
              <div class="itemWrapper">
                <h3 style="line-height: 0px">
                  <span id="otherUserNameCA"></span>
                </h3>
              </div>
            </div>
          </div>
  
          <!-- to show call in progress call -->
          <div id="inCall">
            <div class="incomingWrapper">
              <div class="itemWrapper">
                <h3>On Call With</h3>
                <h2 style="line-height: 0px">
                  <span id="otherUserNameC"></span>
                </h2>
              </div>
            </div>
          
          </div>

          <br />
  
          <!-- to show local and remote video -->
          <div id="videos">
            <div
              style="
                position: absolute;
                top: 0;
                right: 0;
                padding-right: 20px;
                padding-top: 20px;
              "
            >
              <video
                width="100px"
                id="localVideo"
                autoplay
                muted
                playsinline
              ></video>
            </div>
            <div id="remoteVideoDiv">
              <video
                style="width: 500px"
                id="remoteVideo"
                autoplay
                playsinline
              ></video>
            </div>
          </div>
          <div style="flex-grow: 1"></div>

        </div>
        
      <div style="flex-grow: 1"></div>
    </div>
        <!-- nơi chứa id người nhận -->
        <input type="text" hidden id="id_receiver" />
    </div>
    
  </body>
</html>

<!-- {% comment %} Get data for username and chatbox name{% endcomment %}-->
{{ request.user.id|json_script:"id_user" }}
<!-- {{ chat_box_name|json_script:"room-name" }} -->

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".messages li").click(function () {
      var id = $(this).data("id");
      var dichUser = $(this).find("h3").text();
      document.getElementById("receiverName").innerText = dichUser;
      $.ajax({
        type: "GET",
        url: "/messengerajax/" + id + "/",
        success: function (response) {
          // console.log(response);
          $(".message .grid-message ").empty();
          var tinnhan = JSON.parse(response.tinnhan);
          for (var i = 0; i < tinnhan.length; i++) {
            var tinNhanItem = tinnhan[i].fields;
            var noidung = tinNhanItem.noidung;
            var senter = tinNhanItem.senter;
            var receiver = tinNhanItem.receiver;

            if (senter == id) {
              $(".message .grid-message ").append(
                '<div class ="col-message-sent"> <div class="message-sent"><p>' +
                  noidung +
                  "</p></div></div>"
              );
            } else {
              document.getElementById("id_receiver").value = receiver;
              $(".message .grid-message ").append(
                '<div class ="col-message-received"><div class="message-received"><p>' +
                  noidung +
                  "</p></div></div>"
              );
            }
            // $(".col-content").scrollTop($(".col-content")[0].scrollHeight);
          }
        },
        error: function (xhr, status, error) {
          console.error(error);
        },
      });
    });
  });
</script>

<!-- // để lấy thuộc tính id -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    var listItems = document.querySelectorAll(".messages li");
    listItems.forEach(function (item) {
      item.addEventListener("click", function () {
        var id = this.getAttribute("data-id");
        // console.log("Clicked ID:", id);
        // const id_user = JSON.parse(
        //     document.getElementById("id_user").textContent
        //   );
        //   const id_receiver = JSON.parse(
        //     document.getElementById("id_receiver").value
        //   );
        const chatSocket = new WebSocket(
          "ws://" + window.location.host + "/ws/chat/"
        );

        chatSocket.onmessage = function (e) {
          const data = JSON.parse(e.data);
          //dữ liệu trả về
          // document.querySelector("#chat-text").value +=
          //   data.message + " sent by " + data.username + "\n";
          if (data.id_receiver == id) {
            $(".message .grid-message ").append(
              '<div class ="col-message-received"><div class="message-received"><p>' +
                data.message +
                "</p></div></div>"
            );
          }
        };
        document.querySelector("#send").onclick = function (e) {
          const messageInputDom = document.querySelector("#input");
          const message = messageInputDom.value;
          const id_user = JSON.parse(
            document.getElementById("id_user").textContent
          );
          const id_receiver = JSON.parse(
            document.getElementById("id_receiver").value
          );

          chatSocket.send(
            JSON.stringify({
              message: message,
              id_user: id_user,
              id_receiver: id_receiver,
            })
          );
          messageInputDom.value = "";
          $(".message .grid-message ").append(
            '<div class ="col-message-sent"> <div class="message-sent"><p>' +
              message +
              "</p></div></div>"
          );
        };
      });
    });
  });
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
  $(document).ready(function () {
    $(".messages li").click(function () {
      $(".messages li").removeClass("bold");
      $(".messages li").not(this).removeClass("clicked");
      $(this).addClass("bold");
      $(this).toggleClass("clicked");
    });
  });
</script>

<script src="{% static 'call/call.js' %}"></script>

<script
  src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
  integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
  crossorigin="anonymous"
></script>
<script
  src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
  integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
  crossorigin="anonymous"
></script>

<script>
  document.getElementById("call").style.display = "none";
  document.getElementById("userInfo").style.display = "none";
  document.getElementById("answer").style.display = "none";
  document.getElementById("inCall").style.display = "none";
  document.getElementById("calling").style.display = "none";
  document.getElementById("videos").style.display = "none";


  //  thay hàm login vô
  const id_user = JSON.parse(
  document.getElementById("id_user").textContent
  );

  myName = id_user;
  document.getElementById("userName").style.display = "none";
  document.getElementById("call").style.display = "block";

  document.getElementById("nameHere").innerHTML = id_user;
  document.getElementById("userInfo").style.display = "block";
  connectSocket();

</script>

<!-- Script của cái call -->

<!-- <script>
  function login() {
    // let userName = document.getElementById("userNameInput").value;
    const id_user = JSON.parse(
      document.getElementById("id_user").textContent
    );

    myName = userName;
    document.getElementById("userName").style.display = "none";
    document.getElementById("call").style.display = "block";

    document.getElementById("nameHere").innerHTML = id_user;
    document.getElementById("userInfo").style.display = "block";

    connectSocket();
  }
</script> -->




